/* Applying Global CSS */
* {
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	/* align-items: center; */
}
nav{
   margin-top: -3000px ;
   z-index: 2;
   position: top;
   width: 2600px;
   
  
 }
section{
	height: 100%;
width: 100%;
  background-color: #000;
position: absolute;
 
}
  .navbar{
  
    text-align:center;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }
  .navbar-dark{
    background-color: rgb(255, 255, 255);

}
.nav-link:hover{
    color: rgb(255, 255, 255)!important;

}
.dropdown-item:hover{
    color: rgb(55, 53, 52)!important;

}
  .navbar{
  
    text-align:center !important;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }

/* Centering the content of whole body */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

/* Adding transform-style CSS
	property to the boxes */
.box {
	position: absolute;
	width: 250px;
	height: 250px;
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;
}

/* Adding keyframes for animation */
@keyframes animate {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	}
	100% {
		transform: perspective(1000px) rotateY(360deg);
	}
}

/* Adding CSS to all the span
	tags for animation */

.box span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline;
	box-sizing: border-box;
	transform-origin: center;
	transform-style: preserve-3d;
	transform:
	rotateY(calc(var(--i) * 60deg)) translateZ(400px);
	-webkit-box-reflect:
below 0px linear-gradient(transparent, transparent, #0004);
}

/* Adding object-fit CSS property to all the images */
.box span img {
	position: absolute;
	top: 0;
	left: 0;
	height: 250px;
	padding: 0%;
	margin: 0%;
	width: 250px;
	object-fit: cover;
	z-index: 2;
}






.honeycomb
{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 1000px;
    padding: 0;
    transform: translateY(80px);
	position: relative !important;
}

.honeycomb-cell
{
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
}

.honeycomb-cell_img
{
    object-fit: cover;
    object-position: center;
    
}

.honeycomb-cell_title
{
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms; 
}

.honeycomb-cell_title > small
{
    font-weight: 300;
    margin-top: 0.25em;
}

.honeycomb-cell::before,
.honeycomb-cell::after
{
    content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img
{
   top: -50%;
   left: 0;
   width: 100%;
   height: 200%;
   display: block;
   position: absolute;
   -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
   z-index: -1;
}



.honeycomb_Hidden
{
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
}

/****** Responsive ******/
@media (max-width: 550px)
{
    .honeycomb-cell
    {
        margin: 81.25px 25px;
    }
}

@media (min-width: 550px) and (max-width: 825px)
{
    .honeycomb-cell:nth-child(3n)
    {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }

    .honeycomb_Hidden:nth-child(3n + 5)
    {
        display: block;
    }
}
@media (min-width: 825px) and (max-width: 1100px)
{
    .honeycomb-cell:nth-child(5n + 4)
    {
        margin-left: calc(50% - 275px);
    }
    .honeycomb-cell:nth-child(5n + 5)
    {
        margin-right: calc(50% - 275px);
    }
    .honeycomb_Hidden:nth-child(5n),
    .honeycomb_Hidden:nth-child(5n + 3)
    {
        display: block;
    }
}
@media (min-width: 1100px)
{
    .honeycomb-cell:nth-child(7n + 5)
    {
        margin-left: calc(50% - 400px);
    }
    .honeycomb-cell:nth-child(7n + 7),
    .honeycomb-cell:nth-child(7n + 5):nth-last-child(2)
    {
        margin-right: calc(50% - 400px);
    }
    .honeycomb_Hidden:nth-child(7n + 7),
    .honeycomb_Hidden:nth-child(7n + 9),
    .honeycomb_Hidden:nth-child(7n + 11)
    {
        display: block;
    }
} 
