/* Applying Global CSS */
* {
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
	
}
#aa1{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    margin-top: auto;
    
}
nav{
   margin-top: -3000px ;
   z-index: 2;
   position: top;
   width: 2600px;
   }
  .navbar{
  
    text-align:center;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }
  .navbar-dark{
    background-color: rgb(255, 255, 255);

}
.nav-link:hover{
    color: rgb(255, 255, 255)!important;

}
.dropdown-item:hover{
    color: rgb(55, 53, 52)!important;

}
  .navbar{
  
    text-align:center !important;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }

/* Centering the content of whole body */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
    
}

/* Adding transform-style CSS
	property to the boxes */
.box {
	position: absolute;
	width: 250px;
	height: 250px;
	transform-style: preserve-3d;
	animation: animate 20s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* Adding keyframes for animation */
@keyframes animate {
	0% {
		transform: perspective(1000px) rotateY(0deg);
	}
	100% {
		transform: perspective(1000px) rotateY(360deg);
	}
}

/* Adding CSS to all the span
	tags for animation */

.box span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline;
	box-sizing: border-box;
	transform-origin: center;
	transform-style: preserve-3d;
	transform:
	rotateY(calc(var(--i) * 60deg)) translateZ(400px);
	-webkit-box-reflect:
below 0px linear-gradient(transparent, transparent, #0004);
}

/* Adding object-fit CSS property to all the images */
.box span img {
	position: absolute;
	top: 0;
	left: 0;
	height: 250px;
	padding: 0%;
	margin: 0%;
	width: 250px;
	object-fit: cover;
	z-index: 2;
}
#mm1 {
	display: grid;
	min-height: 100vh;
    margin: 0;
    place-content: center;
    justify-content: center;
}

.gallery {
	--s: 150px;
	--g: 10px;
	display: grid;
    margin: calc(var(--s)+var(--g));
}
	
.gallery > img {
		grid-area: 1/1;
		width: var(--s);
		aspect-ratio: 1.15;
		object-fit: cover;
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		transform: translate(var(--_x,0), var(--_y,0)) scale(var(--_t,1));
        cursor: pointer;
        filter: grayscale(80%);
        transition: .2s linear;
    }
		.gallery:nth-child(1) { --_y: calc(-100% - var(--g)) }
		.gallery:nth-child(7) { --_y: calc( 100% + var(--g)) }
		.gallery:nth-child(3), 
        .gallery:nth-child(5) { --_x: calc(-75% - .87*var(--g)) }
		.gallery:nth-child(4), 
        .gallery:nth-child(6) { --_x: calc( 75% + .87*var(--g)) }
		.gallery:nth-child(3), 
        .gallery:nth-child(4) { --_y: calc(-50% - .5*var(--g)) }
		.gallery:nth-child(5), 
        .gallery:nth-child(6) { --_y: calc( 500% + .5*var(--g)) }
